---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM API KEY>&artist=Stone%20Temple%20Pilots&format=json&method=artist.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www224
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish8
    body:
      encoding: UTF-8
      string: |
        {"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"Stone Temple Pilots","startPage":"1"},"opensearch:totalResults":"212","opensearch:startIndex":"0","opensearch:itemsPerPage":"30","artistmatches":{"artist":[{"name":"Stone Temple Pilots","listeners":"1340672","mbid":"8c32bb01-58a3-453b-8050-8c0620edb0e5","url":"http:\/\/www.last.fm\/music\/Stone+Temple+Pilots","streamable":"0","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34\/262062.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64\/262062.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/262062.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/252\/262062.jpg","size":"extralarge"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/_\/262062\/Stone+Temple+Pilots.jpg","size":"mega"}]},{"name":"Stone Temple Pilots with Chester Bennington","listeners":"2189","mbid":"","url":"http:\/\/www.last.fm\/music\/Stone+Temple+Pilots+wit[...]
